body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  /* SignIn.css */
  .sign-in-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  p {
    text-align: center;
    margin-top: 10px;
  }
  
  /* Style for the "Sign Up" button/link */
  button.signup-link {
    background-color: #2ecc71;
  }
  
  button.signup-link:hover {
    background-color: #27ae60;
  }
  
  /* Home.css */
  body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h1 {
    color: #333;
  }
  
  p {
    color: #555;
    margin-bottom: 20px;
  }
  
  .links-container {
    display: flex;
    gap: 20px;
  }
  
  .links-container a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1e0ad59c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .links-container a:hover {
    background-color: rgb(172, 213, 9);
  }
  
  
  
  /* EventForm.css */
  
  div {
    max-width: 400px;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    padding: 8px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
  }
  
  li button {
    padding: 5px;
    background-color: #f44336;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  li button:hover {
    background-color: #d32f2f;
  }
  
  /* Add this to your CSS file */
  .event-dot {
    width: 8px;
    height: 8px;
    background-color: #f00; /* Change the color as needed */
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  /* RSVP.css */
  .RSVP-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
  }
  
  .RSVP-container h2 {
    color: #333;
  }
  
  .RSVP-container p {
    color: #555;
    margin-bottom: 20px;
  }
  
  .RSVP-container .btn-container {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .RSVP-container .btn-container:hover {
    background-color: #2980b9;
  }